<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/home_style.css}">
    <style>
        .password-card .form-label {
            font-size: 0.9rem;
        }
        .password-card .form-control {
            font-size: 0.9rem;
        }
        .password-card .btn {
            font-size: 0.9rem;
        }
    </style>
</head>
<body>

<header th:insert="~{fragments/general.html :: header}"></header>

<nav th:insert="~{fragments/general.html :: nav}"></nav>

<div class="container mt-5">
    <h2 class="text-center">Данные пользователя</h2>
    <div class="row justify-content-center gx-5">
        <div th:if="${user}" class="col-lg-8 col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">ID</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p><span th:text="${user.userId}"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Полное имя:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Почта</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p><span th:text="${user.email}"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Роль:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p><span th:text="${user.role}"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Аккаунт был создан:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p><span th:text="${user.createdAt}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card mb-3 password-card">
                <div class="card-body">
                    <h5 class="card-title">Изменить пароль</h5>
                    <p class="text-danger" th:if="${message}"><span th:text="${message}"></span>
                    <form th:action="@{/profile/changePassword}" method="post" th:object="${changePasswordForm}">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Текущий пароль</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" th:field="*{currentPassword}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Новый пароль</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" th:field="*{newPassword}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Подтвердите новый пароль</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>

<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
