<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        /* Дополнительные стили для примера */
        .card-body {
            text-align: center;
        }
        .card {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="my-4">Полки архива - Главная страница</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Список полок</h5>
                    <p class="card-text">Перейти к списку полок</p>
                    <a th:href="@{/shelves/list}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Создать полку</h5>
                    <p class="card-text">Перейти к созданию новой полки</p>
                    <a th:href="@{/shelves/archivist/create}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JS и зависимостей Popper.js и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-vc/g6uqQZ7z9P6tDk5OwC4WvDmjr9XFOkRbqnEKx27pcNaY0K2b60OHEtc1zP5KI"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh/jFc/8+FJo0fsDm8Aa4gJfKkqc6vDl/IpFgh"
        crossorigin="anonymous"></script>
</body>
</html>
